/* Acá va tu código */
.first-header {
    text-align: center;
}

.offset{
    text-align: center;

    
}


.first-section {
    text-align: center;

}
.decod{
    display: inline-block;
    margin: 10% 0.1% 5% 3%;
   
    
    
}
.code {
    display: inline-block;
    margin-left: 15%;
    margin-right: 10%;
}
body {
    background-image: url(../src/img/pexels-photo-796606.jpeg);
    background-repeat: no-repeat;
}
#displace{
    height: 30%;
}
button{
  
  
  
 
}

